*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --green: #07ABA5;
    --pink: #F73BD0;
    --teal: #23F7F0;
    --yellow: #F7CE0A;
    --gold: #AB900F;
    --white: white;
}

body{
    font-family: "Open Sans";
    color: var(--white);
}

/* HEADER STYLES */
header {
    padding: 15px 35px;
    background-color: var(--green);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 9999;
}

header h1{
    font-weight: bold;
    font-size: 36px;
    color: var(--white);
    margin: 0;
}

header a {
    color: var(--white);
    text-decoration: none;
}

header nav{
    margin: 7px 0;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

header nav ul li a {
    padding: 10px 10px;
    font-weight: lighter;
    font-size: 1.55vw;
}

header nav ul li a:hover {
    color: var(--yellow);
    text-shadow: none;
    border-bottom: 2px solid var(--yellow);
}

.about-me {
    background-image: url("../images/background-multi-color-wood.jpg");
    background-size: cover;
    background-position: 80%;
}

.about-me h2 {
    font-size: 36px;
    color: var(--white);
    text-shadow: 0 0 10px rgba(0,0,0,0.5);
    margin-top: 100px;
    text-align: center;
    width: 100%;
}

.about-info {
    width: 80%;
    margin: 50px auto;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(245,245,245,0.50);
}

.bio-img {
    flex: 1 20%;
    margin-right: 20px;
}

.bio-img img {
    max-width: 100%;
    border-radius: 50%;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.bio-text {
    color: var(--pink);
    flex: 12;
    padding: 25px;
    line-height: 1.3;
}

.flex-row {
    display: flex;
}