*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --green: #07ABA5;
    --pink: #F73BD0;
    --teal: #23F7F0;
    --yellow: #F7CE0A;
    --gold: #AB900F;
    --white: white;
}

body{
    font-family: "Open Sans";
    color: var(--white);
}

/* HEADER STYLES */
header {
    padding: 15px 35px;
    background-color: var(--green);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 9999;
}

header h1{
    font-weight: bold;
    font-size: 36px;
    color: var(--white);
    margin: 0;
}

header a {
    color: var(--white);
    text-decoration: none;
}

header nav{
    margin: 7px 0;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

header nav ul li a {
    padding: 10px 10px;
    font-weight: lighter;
    font-size: 1.55vw;
}

header nav ul li a:hover {
    color: var(--yellow);
    text-shadow: none;
    border-bottom: 2px solid var(--yellow);
}

footer {
    background-color: var(--green);
}

footer h2 {
    color: var(--white);
    font-size: 16px;
    padding: 40px 0 20px 20px;
}

.about-me {
    background-image: url("../images/background-multi-color-wood.jpg");
    background-size: cover;
    background-position: 10%;
    padding-bottom: 100px;
}

.about-me h2 {
    font-size: 42px;
    color: var(--white);
    text-shadow: 0 0 10px rgba(0,0,0,0.5);
    margin-top: 100px;
    text-align: center;
    width: 100%;
}

.about-info {
    width: 80%;
    margin: 50px auto;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(245,245,245,0.50);
}

.bio-img {
    flex: 1 20%;
    margin-right: 20px;
}

.bio-img img {
    max-width: 100%;
    border-radius: 50%;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.bio-text {
    color: var(--pink);
    flex: 12;
    padding: 25px;
    line-height: 1.3;
}

.work {
    background-color: var(--white);
    padding-bottom: 50px;
}

.work h2 {
    font-size: 42px;
    color: var(--green);
    margin-top: 100px;
    text-align: center;
    width: 100%;
}

.work-info {
    width: 60%;
    margin: 50px auto;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.primary-work {
    flex: 12 100%;
    margin-right: 10px;
}

.secondary-work {
    flex: 1 40%;
    margin-right: 10px;
}

.primary-item, .resume-img {
    width: 100%;
    display: inline-flex;
    position: relative;
}

.primary-work img, .secondary-work img, .resume-img img {
    max-width: 100%;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.work-text {
    display: none;
}

.primary-item:hover > .work-text {
    display: inline-block;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    height: 100%;
    background-color: rgba(245,245,245,0.75);
    border: 3px solid var(--yellow);
    color: var(--yellow);
    font-size: 100%;
    font-weight: bolder;
    padding-top: 15%;
    text-align: center;
}

.resume {
    background-color: var(--yellow);
    padding-bottom: 50px;
}

.resume h2 {
    font-size: 42px;
    color: var(--white);
    text-shadow: 0 0 10px rgba(0,0,0,0.5);
    margin-top: 100px;
    text-align: center;
    width: 100%;
    flex: 15;
}

.resume-info {
    flex: 1;
    width: 80%;
    margin: 50px auto;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.under-construction {
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 25%;
    transform: translateY(-50%);
    width: 50%;
    background-color: var(--yellow);
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    color: black;
    font-size: 100%;
    font-weight: bolder;
    text-align: center;
    padding: 20px;
}

.resume-img img {
    max-width: 50%;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    margin: auto;
}

.contact {
    background-color: var(--white);
    padding-bottom: 50px;
}

.contact h2 {
    font-size: 42px;
    color: var(--green);
    /*text-shadow: 0 0 5px rgba(247,206,10,0.5);*/
    margin-top: 100px;
    text-align: center;
    width: 100%;
    flex: 15;
}

.contact-info {
    width: 80%;
    margin: 50px auto;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    color: var(--green);
    font-weight: bolder;
}

.contact-item, .contact-item a {
    color: var(--green);
    font-style: normal;
    padding: 10px;
    text-decoration: none;
}

.contact-item:hover, .contact-item:hover a {
    color: var(--yellow);
    padding: 10px;
    border-bottom: 2px solid var(--yellow);
    text-decoration: none;
}

.flex-row {
    display: flex;
}